@model FMS._23.V1.Models.StockTransferTransactionDetails

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StockTransferTransactionDetails</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockTransferByDepot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockTransferByDepot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockReceivedByDepot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockReceivedByDepot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequisitionCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequisitionCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockTransferNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockTransferNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockIssueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockIssueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestedQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestedQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IssueQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IssueQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BalanceQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BalanceQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentStock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cGst)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cGst)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sGst)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sGst)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.iGst)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.iGst)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IssuedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IssuedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
